{% load crispy_forms_tags %}
{% include 'front/base.html' %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Ваш профиль</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Обновить</button>
          </div>
      </form>
    </div>
    <h2>Бронирования</h2>
    {% for book in object_list %}
    <div>

        <h3>Комната {{ book.room }}</h3>
        <h3> Дата заселения  {{ book.checkin_date |date:'Y-m-d'}}</h3>
        <h3>Дата выселения {{ book.checkout_date|date:'Y-m-d' }}</h3>
        <h3> Оплаченная сумма {{ book.charge }}</h3>
      <form action="{% url 'cancel' %}" method="get">
          <button value="{{ book.checkin_date|date:'Y-m-d' }}" name="del">cancel book</button>
      </form>
    </div>
  {% endfor %}
{% endblock content %}